.aboutus {
  background-color: #fba719;
  padding: 20px;
}
.about-section {
  margin: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.about-content {
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
}
.about-heading {
  color: #565656;
  font-size: 24px;
  margin: 20px 0 8px;
  padding: 10px;
}
.about-subheading {
  color: #ffffff;
  font-size: 24px;
  margin: 0px 0 8px;
  padding: 10px;
}
.button {
  color: rgb(251, 167, 25);
  background-color: #ffffff;
  border: none;
  border-radius: none;
  width: 200px;
  height: 50px;
}
.about-image {
  width: 100%;
}
@media (min-width: 769px) {
  .about-section {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  .about-image {
    width: 100%;
    height: 70vh;
  }
  .aboutus {
    width: 1000px;
  }
}
