span {
  color: orange;
  font-weight: bold;
}
Nav {
  color: black;
  font-weight: bold;
}
Link :hover {
  color: black;
}
.logo {
  width: 50px;
  height: 50px;
}
.navbar {
  display: flex;
  width: 100%;
}
.navend {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 762px) {
  .lap {
    display: none;
  }
}
@media (min-width: 763px) {
  .nav-container {
    display: none;
  }
  .lap {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
