.slider-container {
  padding: 40px;
  margin: 10px;
  width: 100%;
}
.slide-items {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  max-width: 97%;
  min-height: 150px;
  max-height: 330px;
}
.img-slider {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}
.slider {
  height: 300px;
  object-fit: cover;
}
.text-card {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  left: 0px;
}
h3 {
  text-align: center;
  color: #818285;
  font: "21px Montserrat,sna-serif";
  margin: 10.5px 0px;
}
