.para {
  color: #808285;
  font-size: 17px;
  margin: 10px 0px 0px;
  padding: 10px;
  font-weight: 500;
}
.nation-container {
  display: flex;
}
.india-container {
  padding: 0 15px;
}
.heading {
  color: #fca33e;
  padding: 10px;
  margin: 20px 0px 8px;
  font-size: 30px;
}
.subheading {
  color: #808285;
  font: 24px;
  padding: 10px;
  text-align: left;
}
.india-img {
  width: 100%;
  height: 80%;
}
@media (max-width: 763px) {
  .nation-container {
    display: flex;
    flex-direction: column;
  }
  .india-container {
    padding-top: 30px;
    margin-bottom: 15px;
  }
  .heading {
    color: #fca33e;
    padding: 10px;
    margin: 20px 0px 8px;
    font-size: 24px;
  }
  .subheading {
    color: #808285;
    font: 18px;
    padding: 10px;
    text-align: center;
  }
}
